.fc .fc-button-primary:disabled {
  background-color: rgb(24, 95, 40);
}
.fc .fc-view-harness {
  background-color: beige;
}

.content-box {
  display: none;
  flex-grow: 1;
  padding: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content-box.active {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 249, 248);
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Start of side Bar */
.sidebar {
  width: 70px;
  background: linear-gradient(to bottom, #191b1b, #53f0d8);
  height: 100vh;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  transition: 0.5s;
  /* this will keep the side bar fixed to its position */
  overflow: hidden;
  margin-right: 50px;
  flex-shrink: 0; /* add this so other items dont suffocate it  */
}

.sidebar:hover {
  width: 250px;
}
.top-sidebar {
  padding: 20px;
  background-color: linear-gradient(to bottom, #013932, #02584d);
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-short {
  font-size: 20px;
  min-width: 30px;
  text-align: center;
  color: #b3b3b3;
}

.logo-text {
  opacity: 0;
  transition: 1s;
}

.sidebar:hover .logo-text {
  white-space: nowrap; /*prevents from wrapping during transition*/
  font-size: 18px;
  font-weight: bold;
  color: #b3b3b3;
  opacity: 1;
  transition: 0.5s;
}
.nav-links {
  list-style: none;
  padding: 20px 0px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 23px;

  color: #b3b3b3;
  text-decoration: none;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #fff;
  background-color: #013932;
  border-left: 4px solid #f5f5f5;
  padding-left: 19px; /* Offsets the 4px border so icons don't shift */
}

.link-text {
  opacity: 0;
  transition: 1s;
  font-size: 18px;
  font-weight: bold;
  color: #b3b3b3;
}

.sidebar:hover .link-text {
  white-space: nowrap; /*prevents from wrapping during transition*/
  opacity: 1;
  transition: 0.5s;
}

.nav-links li a i {
  flex-shrink: 0;
}

/* 
End of Side Bar  */

/* Start of About */
.about-box {
  align-content: center;
}

.about-container {
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-image {
  width: 300px;
}
.image-about {
  border-radius: 5px;
  object-fit: cover;
  border-radius: 5px;
  width: 150;
  transition: 0.5s;
}

.info-container {
  display: flex;
  gap: 20px;
}
.text-container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-p {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

/* End of About */
