/* ensuring a constintent predictable layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f2f4f5, #02584d);
  color: rgb(24, 31, 25) d;
}

/*Start Form Login */
.-login-container {
  margin: 0 15px;
}

.form-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

#login-h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #02584d;
}

.input-look {
  width: 100%;
  padding: 12px;
  background: #eee;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  border-radius: 6px;
}

#login-btn {
  background: #eee;
  cursor: pointer;
  transition: 0.5s;
  color: #02584d;
}

#login-btn:hover {
  background: #17645b;
  color: white;
}

#p-register {
  text-align: center;
  font-size: 14-5px;
  margin-bottom: 10px;
  color: #02584d;
}

#a-register {
  text-decoration: none;
  color: #7494ec;
  transition: 0.5s;
}

#a-register:hover {
  text-decoration: underline;
}
/* End Form Login */

#register-btn {
  background: #eee;
  cursor: pointer;
  transition: 0.5s;
  color: #02584d;
}

#register-btn:hover {
  background: #17645b;
  color: white;
}
